Feature: _new_module_  module
# https://www.drupal.org/project/_new_module_
  In order to ensure the site is functioning as expected
  As an anonymous user
  I want to verify functionality of the _new_module_ module

  @dev @api @javascript @destructive
  Scenario: Verify module functionality
    Given the "_new_module_" module is enabled
    And the cache has been cleared
    Given I am on "admin/structure/types/manage/article/fields
